<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Anuncio</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    
    <header>
        <h1>Crear Anuncio</h1>
    </header>

    <form id="formulario-anuncio">
        <label for="anuncioId">ID de Anuncio:</label><br>
        <input type="text" id="anuncioId" name="anuncioId"><br><br>
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo"><br><br>
        <label for="precio">Precio:</label><br>
        <input type="text" id="precio" name="precio"><br><br>
        <label for="email">Email de contacto:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <button type="button" onclick="crearAnuncio()">Crear Anuncio</button>
        <button type="button" onclick="resetForm()">Reset</button>
        <a href="/"><button type="button">Inicio</button></a>
    </form>

    <!-- Agregar un párrafo para mostrar el mensaje -->
    <p id="mensaje"></p>

    <script>
        function crearAnuncio() {
            var formulario = document.getElementById("formulario-anuncio");
            var datosAnuncio = {
                anuncioId: formulario.anuncioId.value,
                titulo: formulario.titulo.value,
                precio: formulario.precio.value,
                email: formulario.email.value
            };

            // Realizamos la solicitud fetch
            fetch('/anuncio-nuevo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datosAnuncio)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al crear el anuncio');
                }
                // Limpiamos el formulario después de enviar los datos
                resetForm();
                // Mostrar mensaje de "Anuncio creado"
                document.getElementById("mensaje").innerText = "Anuncio creado";
                // Redireccionar a la página de anuncios después de un breve retraso
                setTimeout(() => {
                    window.location.href = '/anuncios';
                }, 2000); // Redireccionar después de 2 segundos
            
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function resetForm() {
            var formulario = document.getElementById("formulario-anuncio");
            formulario.anuncioId.value = "";
            formulario.titulo.value = "";
            formulario.precio.value = "";
            formulario.email.value = "";
        }
    </script>
</body>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Inti Luna.</p>
    </footer>
</html>
