<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    
</head>
<body>
    <header>
        <h1>Anuncios</h1>
    </header>
    
    <table id="tabla-anuncios">
        <thead>
            <tr>
                <th>Anuncio ID</th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            {% for anuncio in anuncios %}
            <tr data-anuncio-id="{{ anuncio.anuncioId }}">
                <td>{{ anuncio.anuncioId }}</td>
                <td>{{ anuncio.titulo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="/"><button class="button">Inicio</button></a>
        <a href="/nuevo-anuncio"><button class="button">Publicar anuncio</button></a>
    
    </div>
    

    <!-- Agregamos un script para manejar el evento de clic en las filas de la tabla -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var tabla = document.getElementById('tabla-anuncios');
            tabla.addEventListener('click', function(event) {
                var fila = event.target.closest('tr');
                if (fila) {
                    var anuncioId = fila.getAttribute('data-anuncio-id');
                    if (anuncioId) {
                        window.location.href = '/anuncios/' + anuncioId;  // Corregimos la ruta de redirección
                    }
                }
            });
        });
    </script>
</body>


</html>