<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Anuncio</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    
    <header>
        <h1>Detalle de anuncio</h1>
    </header>
    
    <div>
        <h2>{{ libro.titulo }}</h2>
        <p><strong>ID de Anuncio:</strong> {{ libro.anuncioId }}</p>
        <p><strong>Precio:</strong> {{ libro.precio }}</p>
        <p><strong>Email de contacto:</strong> {{ libro.email }}</p>
    </div>
    
    <!-- Espacio para mensaje -->
    <div id="mensaje"></div>

    <!-- Espacio para mensajes del chat -->
    <div id="simple-chat-messages"></div>

    <!-- Formulario para escribir un nuevo mensaje -->
    <div>
        <input type="text" id="newMessage" placeholder="Escribe un nuevo mensaje...">
        <button onclick="enviarMensaje()">Enviar</button>
    </div>
    

    <!-- Botones -->
    <div>
        <a href="/anuncios"><button class="button">Ver anuncios</button></a>
        <a href="/nuevo-anuncio"><button class="button">Nuevo anuncio</button></a>
        <button onclick="eliminarAnuncio('{{ libro.anuncioId }}')" class="button button-delete">Eliminar anuncio</button>
    </div>


    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Inti Luna.</p>
    </footer>

    <script>
        function eliminarAnuncio(anuncioId) {
            fetch(`/anuncios/${anuncioId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el anuncio');
                }
                return response.json();
            })
            .then(data => {
                // Mostrar mensaje de éxito
                const mensaje = document.getElementById('mensaje');
                mensaje.innerHTML = `El anuncio con ID ${anuncioId} se ha borrado exitosamente.`;
                // Redirigir a la página de anuncios después de un breve retraso
                setTimeout(() => {
                    window.location.href = '/anuncios';
                }, 2000); // 2 segundos de retraso antes de redirigir
            })
            .catch(error => {
                console.error('Error:', error);
                // Manejar errores si la solicitud falla
            });
        }
        // Función para cargar los mensajes del chat
        function cargarMensajes() {
            fetch(`/chat/{{ libro.anuncioId }}`, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 200) {
                    const messagesDiv = document.getElementById('simple-chat-messages');
                    messagesDiv.innerHTML = ''; // Limpiar los mensajes anteriores
                    data.messages.forEach(message => {
                        const messageElement = document.createElement('div');
                        messageElement.innerText = `[${message.ts}] ${message.user_id}: ${message.text}`;
                        messagesDiv.appendChild(messageElement);
                    });
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // Llamar a la función para cargar los mensajes cuando se carga la página
        cargarMensajes();

        function enviarMensaje() {
            const newMessage = document.getElementById('newMessage').value;
            const messageData = {
                "user_id": "1", // Mantenemos el usuario como 1 por ahora
                "text": newMessage
            };

            fetch(`/chat/{{ libro.anuncioId }}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(messageData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 201) {
                    cargarMensajes(); // Recargar mensajes después de enviar uno nuevo
                    document.getElementById('newMessage').value = ''; // Limpiar el campo de texto
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
    </script>

</body>
</html>
