<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Libro</title>
</head>
<body>
    <h1>Detalle de Libro</h1>
    <div>
        <h2>{{ libro.titulo }}</h2>
        <p><strong>ID de Anuncio:</strong> {{ libro.anuncioId }}</p>
        <p><strong>Precio:</strong> {{ libro.precio }}</p>
        <p><strong>Email de contacto:</strong> {{ libro.email }}</p>
        
    </div>
    <a href="/anuncios"><button>Ver Anuncios</button></a>
</body>
</html>
