<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Project by Inti Luna</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    <!-- Header -->
    <header>
        <h1>Proyecto para módulo cloud en Datahack por Inti Luna</h1>
        <h2>Plataforma de venta de libros</h2>
        <h2>Usando Python: Flask, Jinja2 Template, y Serverless para crear infraestructura con AWS</h2>
    </header>

    <!-- Body -->
    <div>
        <p> código disponible en:  <a href="https://github.com/intiluna/dh-aws-cloud-project">repositorio de github</a>  </p>
    </div>

    <div>
        <button class="button" onclick="window.location.href='/anuncios'">Ver anuncios</button>
        <button class="button" onclick="window.location.href='/nuevo-anuncio'">Publicar anuncio</button>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Inti Luna. inti.luna.aviles@gmail.com</p>
    </footer>
</body>
</html>
