<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">


</head>
<body>
    
    <header>
        <h1>Anuncios</h1>
    </header>

    <p>No hay anuncios disponibles</p>
    <p>¡Sé el primero en publicar un anuncio!</p>
    <p>¡Haz clic en el botón "Publicar anuncio" para comenzar!</p>

    <div>
        <a href="/"><button class="button">Inicio</button></a>
        <a href="/nuevo-anuncio"><button class="button">Publicar anuncio</button></a>
    
    </div>
       
</body>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Inti Luna.</p>
    </footer>

</html>